.hidden {
    visibility: hidden;
    opacity: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .5s ease;
}

body {
    display: flex;
    width: 100vw;
    max-width: 100%;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

#quiz {
    width: 40vw;
    margin: 3vh auto 10vh auto;
    display: flex;
    flex-direction: column;
}

#description {
    text-align: center;
    margin-bottom: 10px;
}

#description h1 {
    margin-bottom: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    background-color: #ededF0;
}

.question * {
    margin: 5px;
    padding-left: 10px;
}

label {
    transition: all 300ms ease;
}

label:hover {
    opacity: 0.7;
}

.button-box {
    display: flex;
    justify-content: center;
}

button {
    width: 30%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: .05rem;
    border: 2px solid #198754;
    background-color: #198754;
    color: #FFFFFF;
}

button:hover {
    border: 2px solid #198754EE;
    background-color: #198754EE;
}

label:hover, input:hover, button:hover {
    cursor: pointer;
}

#result {
    margin-top: 50%;
    margin-bottom: 50%;
}

h2 {
    margin-top: 10px;
}